DJANGO_SECRET_KEY=change-this-to-a-random-secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=YOUR_EC2_PUBLIC_IP
DJANGO_CORS_ALLOW_ALL=False
DJANGO_CORS_ALLOWED_ORIGINS=http://YOUR_EC2_PUBLIC_IP
DJANGO_CSRF_TRUSTED_ORIGINS=http://YOUR_EC2_PUBLIC_IP

DB_ENGINE=sqlite
SQLITE_PATH=/home/ubuntu/interview1/rest_api/loan_app/db.sqlite3
